/* =========== Include Tailwind ================ */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Test Css */
* {
    transition: all 0.5s;
    color: white;


    
}

body {
    background-color: rgb(30,35,38);
}